<section id="carousel" class="bg-[#3c586c]">

    <section class="controls aspect-w-1 aspect-h-1 bg-transparent">

        <div class="flex flex-row items-center justify-between">

            <button
                class="left z-1 relative text-cool-gray-400 border-cool-gray-300 cursor-pointer">&lt;</button>


            <div class="absolute w-full h-full">
                <div class="carousel-image relative h-full bg-purple-400 sm:bg-rose-400 lg:bg-orange-500">
                </div>
                <!-- <img width="100%" height="auto" class="carousel-image" src="https://api.lorem.space/image/fashion?w=400&h=400" alt=""> -->
            </div>

            <button
                class="right z-1 relative text-cool-gray-400 border-cool-gray-300 cursor-pointer">&gt;</button>
        </div>

    </section>


    <section class="content text-white sm:flex sm:flex-col sm:justify-center">

        <div
            class="grid grid-cols-3 space-y-[1.2em] mb-[1em] mx-[1em] sm:space-y-[0.6em] sm:mb-[0em] sm:mx-[0em] sm:grid-col-4 sm:bg-transparent-400 sm:h-[65%] lg:h-[50%] lg:grid-cols-5">

            <p class="text-center hidden sm:block sm:col-span-4 lg:font-bold lg:text-sm">
                Featured Boxes
            </p>

            <h1 class="col-span-3 text-center carousel-title text-2xl sm:col-span-4 lg:text-3xl">Aged</h1>

            <p class="col-span-3 text-center tracking-wide break-words sm:pb-[0.5em] sm:col-span-4 lg:text-xl carousel-description">
                A toast to the perfectly aged cocktail.
            </p>

            <button class="col-span-3 py-4 bg-[#58a4e0] text-white sm:col-span-4 lg:py-2 cursor-pointer">
                Learn how it works
            </button>


            <a href="#"
                class="col-span-3 text-[#58a4e0] text-center pt-4 pb-[1em] underline decoration-gray-900/40 decoration-1 underline-offset-6 sm:col-span-4">
                or View available boxes
            </a>

        </div>

    </section>

</section>