<section v-cloak v-scope="CarouselController()" aria-label="products on demand" id="carousel" class="bg-carousel">

    <section :aria-label="'product: ' + current_product.name" class="controls">

        <div :style="{ 'background-image': 'url(' + current_product.image + ')' }" class="carousel-image">

            <button id="back" @click="current_item -= 1" aria-controls="current-product" aria-label="back"
                class="left">&lt;</button>

            <div class="square aspect-w-1 aspect-h-1">

            </div>

            <button id="next" @click="current_item += 1" aria-controls="current-product" aria-label="next"
                class="right">&gt;</button>

        </div>

    </section>


    <section id="current-product" aria-label="product description" class="content">

        <section aria-labelledby="product-name" class="grid-content">

            <p class="secondary-title">
                Featured Boxes
            </p>

            <h1 id="product-name" class="item-name">
                ${ current_product.name }
            </h1>

            <p class="item-description">
                ${ current_product.description }
            </p>

            <button class="call-to-action">
                Learn how it works
            </button>


            <a href="#" class="alternative-link">
                or View available boxes
            </a>

        </section>

    </section>


</section>