{% set products = [
    { name: "Alchemy", description: "Stock your home bar with pro-level cocktail wares.", image: "../images/human.jpg" },
    { name: "Aged", description: "A toast to the perfectly aged cocktail.", image: "../images/human.jpg" },
    { name: "Refresh", description: "Bring some class to your morning routine.", image: "../images/human.jpg" },
    { name: "Weekender", description: "Don't just get away from the crowds — stand out from them.", image: "../images/human.jpg" }
] %}

<section v-cloak v-scope="CarouselController()" @vue:mounted="total_items = $el.children.length" aria-label="products on demand" id="carousel" class="bg-[#3c586c]">

{% for product in products %}

<div v-show="display_item === {{ loop.index0 }}" class="carousel-item">
    <section aria-label="product: {{ product.name }}" class="controls">

        <div style="background-image: url('{{ product.image }}');" class="carousel-image bg-cover flex flex-row items-center justify-between bg-purple-400 sm:bg-rose-400 lg:bg-orange-400">

            <button id="back-{{ loop.index0 }}" @click="current_item -= 1" aria-controls="current-product" aria-label="back"
                class="left z-1 relative text-cool-gray-400 border-cool-gray-300 cursor-pointer">&lt;</button>

                <div class="relative aspect-w-1 aspect-h-1 bg-rose-200">

                </div>

            <button id="next-{{ loop.index0 }}" @click="current_item += 1" aria-controls="current-product" aria-label="next"
                class="right z-1 relative text-cool-gray-400 border-cool-gray-300 cursor-pointer">&gt;</button>

        </div>

    </section>


    <section id="current-product" aria-label="product description"
        class="content text-white sm:flex sm:flex-col sm:justify-center">

        <section aria-labelledby="product-name"
            class="grid grid-cols-3 space-y-[1.2em] mb-[1em] mx-[1em] sm:space-y-[0.6em] sm:mb-[0em] sm:mx-[0em] sm:grid-col-4 sm:bg-transparent-400 sm:h-[65%] lg:h-[50%] lg:grid-cols-5">

            <p class="text-center hidden sm:block sm:col-span-4 lg:font-bold lg:text-sm">
                Featured Boxes
            </p>

            <h1 id="product-name" class="col-span-3 text-center carousel-title text-2xl sm:col-span-4 lg:text-3xl">
                 {{ product.name }}
            </h1>

            <p
                class="col-span-3 text-center tracking-wide break-words sm:pb-[0.5em] sm:col-span-4 lg:text-xl carousel-description">
                {{ product.description }}
            </p>

            <button class="col-span-3 py-4 bg-[#58a4e0] text-white sm:col-span-4 lg:py-2 cursor-pointer">
                Learn how it works
            </button>


            <a href="#"
                class="col-span-3 text-[#58a4e0] text-center pt-4 pb-[1em] underline decoration-gray-900/40 decoration-1 underline-offset-6 sm:col-span-4">
                or View available boxes
            </a>

        </section>

    </section>
</div>

{% endfor %}

</section>