{% set products = [
{ name: "Alchemy", description: "Stock your home bar with pro-level cocktail wares.", image: "../img/human" },
{ name: "Aged", description: "A toast to the perfectly aged cocktail.", image: "../img/human2" },
{ name: "Refresh", description: "Bring some class to your morning routine.", image: "../img/human3" },
{ name: "Weekender", description: "Don't just get away from the crowds — stand out from them.", image: "../img/human4" }
] %}

<section v-scope="CarouselController()" @vue:mounted="total_items = {{ products.length }}"
    aria-label="products on demand" id="carousel" class="bg-carousel">

    {% for product in products %}

    <div v-if="current_index === {{ loop.index0 }}" v-effect="$el.classList.remove('hidden')"
        class="carousel-item {{ '' if loop.index0 == 0 else 'hidden' }}">
        <section aria-label="product: {{ product.name }}" class="controls">

            <div :style="{ 'background-image': url_image('{{ product.image }}') }"
                style="background-image: url('{{ product.image }}.webp');" class="carousel-image">

                <button @click="current_item -= 1" aria-controls="current-product" aria-label="back"
                    class="left">&lt;</button>

                <div class="square aspect-w-1 aspect-h-1">

                </div>

                <button @click="current_item += 1" aria-controls="current-product" aria-label="next"
                    class="right">&gt;</button>

            </div>

        </section>


        <section id="current-product" aria-label="product description" class="content">

            <section aria-labelledby="product-name" class="grid-content">

                <p class="secondary-title">
                    Featured Boxes
                </p>

                <h1 id="product-name" class="item-name">
                    {{ product.name }}
                </h1>

                <p class="item-description">
                    {{ product.description }}
                </p>

                <button class="call-to-action">
                    Learn how it works
                </button>


                <a href="#" class="alternative-link">
                    or View available boxes
                </a>

            </section>

        </section>
    </div>

    {% endfor %}

</section>